* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

html {
	font-family: sans-serif;
	font-size: 100%;
}

html, body, #root, main {
	height: 100%;
	margin: 0;
}
main {
	position: relative;
	color: #fafafa;
	background: #111;
}
header {
	display: flex;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: left;
	height: 2rem;
	line-height: 2;
}
header label {
	display: inline-block;
	height: 100%;
}
header input {
	display: inline-block;
	line-height: 1.75;
	vertical-align: baseline;
	border: none;
}
